*{
    margin: 0px;
    padding: 0px;
    font-family: "Segoe UI", Arial, sans-serif;

}
nav{
    width: 100%;
    height: 54px;
    background-color: transparent;
}
.nav{
    width: 95%;
    margin: auto;
    display: flex;
    padding: 16px 6px 16px 10px;
}
.nav1{
    width: 137px;
    height: 54px;
}
.nav2 ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 5px;
    
}
.nav2 a{
    height: 48px;
    padding: 16px 8px 10px;
    text-decoration: none;
    color: #333333;
    
}
.nav2 a::after{
    border: 2px dotted #333333;
}
.nav2 a:hover{
    text-decoration: 1.5px underline  #333333;
}
.nav2 {
    height: 54px;
    width: 859px;
}
.nav3{
    position: relative;
    height: 54px;
    width: 30%;
}
.nav3 ul{
    display: flex;
    list-style-type:none ;
    gap: 8px;
    position: absolute;
    right: 0;
}
.nav3 button{
    color: #333333;
    border: none;
    background-color: transparent;
    outline: none;
    margin-right:5px ;
}
.nav3 a:hover{
    text-decoration: 1.5px solid #333333;
}
#navsign{
    width: 103px;
    height: 48px;
    display: flex;
    gap: 50px;
    text-decoration: none;
    margin-right: 5px;
}
#navcart{
    height: 48px;
    width: 60px;
    display: flex;
    gap: 4px;
    margin-right: 5px;
}
.nav3 a{
    text-decoration: none;
    color: #333333;
}
/*carusal-microsft*/

.carusal-microsft{
    width: 100%;
    height: 478px;
    
}
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  }
  .carusal-microsft-A {
    position: relative;
  }
  .carusal-microsft-A-position-absolute-A{
    background-color:transparent;
    width: 570px;
    height: 327px;
    position: absolute;
    top: 80px;
    padding: 50px;
    left: 60px;
  }
  .carusal-microsft-A-position-absolute{
    background-color:white;
    width: 550px;
    height: 327px;
    position: absolute;
    top: 60px;
    padding: 50px;
    left: 60px;
  }
  .carusal-microsft-A-position-absolute h2{
    font-size: 37px;
    width: 473px;
    height: 44px;
    margin-bottom: 15px;
  }
  #newyellow{
    background-color: #ffb900;
    padding: .375rem .75rem;
    width: 60px;
    font-weight: bold;
  }
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.3s;
    
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  /*subscription*/
  .microsoft-subscription{
    width: 100%;
    height: 170px;
    background-color:transparent;
    position: relative;
  }
  .microsoft-subscription-A{
    width: 50%;
    margin: auto;
    height: 170px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
.microsoft-subscription-A ul{
    display: flex;
    text-align: center;
    list-style-type: none;
    gap: 50px;
}
.microsoft-subscription-A-box a {
    text-decoration: 1.5px underline #0067b8;
    font-size: 16px;
    color: #0067b8;
}
.microsoft-subscription-A-box img{
    margin-bottom: 5px;
}
/* games*/
.games{
    width: 100%;
    height: 670px;
    background-color: transparent;
    position: relative;

}
.games-A-ul-li-1-img img{
    width: 348px;
    height: 181.5px;
}
.games-A{
    width: 95%;
    height: 670px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
}

.games-A ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    
    padding: 0;margin: 0;
}

.games-A-ul-li-1{
    width: 348px;
    height: 570px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
}
.cta-button{
    width: 132px;
    height: 39px;
    border-radius: 3px;
    background-color: #0067b8;
    margin: 8px 24px 8px 0px;
    padding: 12px 20px;
    text-decoration: none;
    font-size: 16px;
}
.cta-button-A{
    width: 132px;
    height: 39px;
    background-color: #0067b8;
    margin: 8px 24px 8px 0px;
    padding: 12px 20px;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    top: 60px; 
}
.cta-button-AB{
    width: 132px;
    height: 39px;
    background-color: #0067b8;
    margin: 8px 24px 8px 0px;
    padding: 12px 20px;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    top: 90px; 
}
.cta{
    text-decoration: none;
    font-size: 16px;
    padding: 8px 27px 8px 0px;
}
.games-A-ul-li-1-content h2{
    width: 275px;
    height: 104px;
    font-size: 29px;
    padding: 0px 0px 16px;
}
.games-A-ul-li-1-content p{
    height: 72px;
    width: 275px;
    font-size: 16px;
}
.games-A-ul-li-1-content{
    padding: 16px 24px 24px;
}
/*unyp*/
.unyp{
    width: 100%;
    height: 650px;
}
.unyp-A{
    width: 95%;
    height: 514px;
    /*background-image: url(./Highlight-MultiCanvas-Microsoft-Copilot-App-3screens_VP5-1596x600.avif);
    background-size: cover;*/
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
}
.unyp-A-img{
    text-align: center;
}
.unyp-A-content-box{
width: 410px;
height: 384.4px;
background-color: transparent;
padding: 20px;
position: absolute;
top: 130px;
left: 80px;
}
.unyp-A-content-box h2{
    width: 314px;
    height: 123.2px;
    margin: 0px 0px 24px;
    font-size: 37px;
}
.unyp-A-content-box p{
    width: 318px;
    height: 72px;
    margin: 0px 0px 24px;
}
.cta-button-A-content{
    width: 132px;
    height: 39px;
    background-color: #0067b8;
    margin: 8px 24px 8px 0px;
    padding: 12px 20px;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    top: 60px; 
    border-radius: 3px;
}
.cta-button-A-content-A{
    width: 132px;
    height: 39px;
    background-color: #0067b8;
    margin: 8px 24px 8px 0px;
    padding: 12px 20px;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    top: 20px; 
    border-radius: 3px;
}
.Forbusiness{
    width: 100%;
    background-color: transparent;
    height: 600px;
}
.Forbusiness-A{
    width: 90%;
    margin: auto;padding-top: 30px;
    padding-bottom: 30px;
    height: 600px;
}
.Forbusiness-A-h2 h2{
    font-size: 37px;
    color: #000000;
}
.Forbusiness-A-h2{
    margin-bottom: 40px;
}
.sob{
    width:323px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.sob1 img{
    width: 323px;
    height: 181px;
}
.sob2{
    position: relative;
    height: 240px;
    padding: 20px;
    background-color: white;
}
.btn{
    position: absolute;
    bottom: 0px;
}
.cta-button-A-content{
    width: 132px;
    height: 39px;
    background-color: #0067b8;
    margin: 8px 24px 8px 0px;
    padding: 12px 20px;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    top: 50px; 
    border-radius: 3px;
}
.Forbusiness-A-ul ul{
    
    
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.Subscription{
    width: 100%;
    height: 180px;
}
.Subscription-A a{
    text-decoration: none;
    color: #000000;
}
.Subscription-A ul{
    list-style-type: none;
    display: flex;
    width: 20%;
    margin: 0;padding: 0;
    justify-content: space-between;
}
.Subscription-A{
    width: 90%;
    margin: auto;
    height: 180px;align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
/*footer*/
@media (max-width:600px){
    #footer-a-main{
        display: flex;
        flex-wrap: wrap;
        flex-shrink: 1;
    }
    footer{
        height: 1000px;
        width: 100%;
        background-color: #f2f2f2;
    }
    .Forbusiness-A-ul ul{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        

    }
    .Forbusiness {
        height: 1900px;
        width: 100%;
    }
    .microsoft-subscription{
        height: 350px;
        
        
        
    }
    .microsoft-subscription-A ul{
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        gap: 20px;
        
    }
    .games-A ul{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .games{
        width: 100%;
        height: 2360px;
    }
}
.footer{
    width: 100%;
    height: 300px;
    background-color: #f2f2f2;
}
.footer-a{
    width: 90%;
    height: 300px;
    margin: auto;
}
#footer-a-main{
    display: flex;
    list-style-type: none;
    margin: 0;padding: 0;
    justify-content: space-between;
}
.footer-a ul{
    list-style-type: none;
    margin: 0;padding: 0;
}
.footer-a a{
    text-decoration: none;
    color: #616161;
    font-size: 11px;
}
.footer-a a:hover{
    color: #000000;
    text-decoration: 1px underline #000000;
    transition: 0.3s ease-in;
}
#WSN{
    font-size: 15px;
    padding: 36px 0px 4px;
    color: #616161;
    font-weight: 600;
}
.footer-2A{
    background-color: #0067b8;
    height: 100px;
    width: 100%;
    margin: auto;
}